<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension-point id="palette" name="palette" schema="schema/palette.exsd"/>

   <extension
         point="com.opcoach.e4.preferences.e4PreferencePages">
      <page
            category="com.sii.rental.ui.palettePref"
            class="com.sii.rental.ui.prefs.ColorPrefPage"
            id="com.sii.rental.ui.colorprefs"
            name="Colors Preference page">
      </page>
      <page
            class="com.sii.rental.ui.prefs.PalettePrefPage"
            id="com.sii.rental.ui.palettePref"
            name="PalettePreferencePage">
      </page>
   </extension>
   <extension
         id="com.sii.rental.ui.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         id="com.sii.rental.ui.palette"
         point="com.sii.rental.ui.palette">
      <palette
            id="com.sii.rental.ui.default"
            name="default"
            paletteClass="com.sii.rental.ui.palettes.DefaultPalette">
      </palette>
      <palette
            id="com.sii.rental.ui.paletteMoche"
            name="moche"
            paletteClass="com.sii.rental.ui.palettes.MochePalette">
      </palette>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.sii.rental.ui.prefs.Initializer">
      </initializer>
   </extension>

</plugin>
