<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="com.opcoach.e4.preferences.e4PreferencePages">
      <page
            name="Colors Preference page"
            class="com.sii.rental.ui.prefs.ColorPrefPage"
            id="com.sii.rental.ui.colorprefs">
      </page>
   </extension>
   <extension
         id="com.sii.rental.ui.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>

</plugin>
